{
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    },
    // Webpack does not need the plugin section to build, kept for SystemJS
    "plugins": [
        [
            "module-resolver",
            {
                "extensions": [".es6", ".js"],
                "root": [
                    ".",
                    "./test/vendor/",
                    "./js/vendor/kendo/",
                    "./js/vendor/kendo/cultures/",
                    "./js/vendor/kendo/messages/"
                ],
                "alias": {
                    // This takes over externals in webpack and includes jQuery in the builds
                    // "jquery": "./js/vendor/jquery/jquery-3.3.1.min.js"
                }
            }
        ],
        [
            "transform-runtime",
            {
                "helpers": false, // defaults to true
                "polyfill": false, // defaults to true
                "regenerator": true, // defaults to true
                "moduleName": "babel-runtime" // defaults to "babel-runtime"
            }
        ]
    ],
    "presets": [
        "env"
    ]
}
