{
    "presets": [
        "env"
    ],
    // Plugins can be removed from webpack
    // Kept for vendor/test for now
    "plugins": [
        [
            "module-resolver",
            {
                "extensions": [".es6"],
                "root": [
                    ".",
                    "./js/vendor/kendo/"
                ],
                "alias": {}
            }
        ]
    ]
}
