/.git/
/.idea/
/coverage/
/errorShots/
/graphics/
/js/
/node_modules/
/styles/
/temp/
/test/
/web_modules/
/.editorconfig
/.gitattributes
/.gitignore
/.inch.yml
/.jscsrc
/.jshintignore
/.jshintrc
/.nodemonignore
/.travis.yml
/gruntfile.js
*.conf.js
*.config.js
*.cmd
*.css
*.log
*.md
*.pdf
*.txt
*.zip
