/.git/
/.idea/
/coverage/
/errorShots/
/graphics/
/src/js/
/node_modules/
/src/styles/
/temp/
/test/
/web_modules/
/.babelrc
/.editorconfig
/.eslintignore
/.eslintrc
/.gitattributes
/.gitignore
/.inch.yml
/.jscsrc
/.jshintignore
/.jshintrc
/.nodemonignore
/.npmignore
/.travis.yml
/gruntfile.js
/*.conf.js
/*.config.js
/*.cmd
/*.md
