# Ignore OS files
Desktop.ini
$RECYCLE.BIN/
.DS_Store
Thumbs.db
*.diff
*.err
*.log
*.zip

# Ignore Webstorm files
.idea/
coverage/

# Ignore Node files
node_modules/

# Ignore Cache
webapp/cache
webapp/public/assets

# Ignore Grunt Files
validation-status.json
validation-report.json

# Ignore Kendo UI

# Ignore Incors images
m_collection/
o_collection/
v_collection/
x_collection/

# Ignore Dummy Files
temp/
