# Ignore OS files
Desktop.ini
$RECYCLE.BIN/
.DS_Store
Thumbs.db
*.diff
*.err
*.log
*.zip

# Ignore Webstorm files
.idea/
coverage/
errorShots/
logs/
webapp/public/build/gremlins.min.js

# Ignore Node files
node_modules/

# Ignore cordova
# http://stackoverflow.com/questions/29970885/cordova-5-0-0-which-files-should-i-commit-to-git
/.cordova/
/.gradle/
/platforms/
/plugins/

# Ignore Grunt Files
validation-status.json
validation-report.json

# Ignore Dummy Files
temp/

