sudo: false
language: node_js
node_js:
  - "7"
  - "6"
  - "5"
  - "4"
  - "0.12"
  - "0.11"
env:
  - NODE_ENV=test CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
before_install:
  - "npm install -g npm"
  - "npm install -g grunt-cli"
  - "npm install -g selenium-standalone"
  - "selenium-standalone install"
before_script:
  - "grunt build"
