sudo: false
dist: trusty
language: node_js
node_js:
  - "13"
  - "12"
  - "11"
  - "10"
env:
  - NODE_ENV=test CC=gcc-6 CXX=g++-6 FORCE_COLOR=true
addons:
  chrome: stable
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-6
      - oracle-java9-set-default
before_install:
  - npm install -g npm
  - npm --version
  - npm install -g grunt-cli
before_script:
  - grunt build
