@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700,400italic,700italic);
/* General layout, header, footer */
html, body {
    margin: 0px !important;
    padding: 0px;
    font-family: 'Droid Serif', serif;
}
h1, h2, h3, header, footer {
    font-family: 'Droid Sans', sans-serif;
}
.navbar-brand, .navbar-form, .navbar-nav {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-toggle {
    padding-top: 14px;
    padding-bottom: 14px;
}
.navbar-brand img {
    outline: 0;
    padding-left: 5px;
    height: 50px;
}
footer {
    margin-top: 1rem;
}
/* Articles */
article h1 {
    font-size: xx-large;
}
article h2 {
    font-size: x-large;
}
article h2:before {
    content:'\007C\00a0'; /*http://css-tricks.com/css-content*/
}
article h3 {
    font-size: large;
}
article h3:before {
    content:'\22EE\00a0'; /*http://css-tricks.com/css-content*/
}
article pre code {
    background-color: #F5F5F5;
}
article img {
    outline: 0;
    max-width: 80%;
    height: auto;
    display: block;
    margin: 2rem auto;
    /*-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;*/

}
@media (min-width: 768px) {
    /*create some space between main content and side list*/
    div#index-view-left {
        padding-right: 40px;
    }
}
/* Index list */
div.authorship, div.readmore {
    font-family: 'Droid Sans', sans-serif;
    font-size: small;
    color: #777;
}
div.readmore {
    margin: 1rem 0px;
}
div.summary {
    margin-top: 2rem;
    min-height: 100px; /*thumbnail height*/
}
div.thumb { /*bootstrap has a thumbnail class*/
    float: left;
    height: 100px;
    width: 150px;
    overflow: hidden;
    margin-right: 1em;
    margin-bottom: 0.5em;
}
div.thumb img {
    width: 150px;
}
/* Side lists */
section.side-section {
    margin-bottom: 3rem;
}
section.side-section h2 {
    font-size: large;
    margin-bottom: 0.5rem;
}
section.side-section h2 + hr {
    margin-top: 0px;
    margin-bottom: 1rem;
}
ul#index-list, ul#categories-list, ul#archive-list {
    list-style: none;
    border-style: none;
    box-shadow: none;
    -moz-box-shadow: none;
    margin: 0px 0px 2rem 0px;
    padding: 0px;
}
.categories, .archive {
    margin : 0.5rem;
}
.categories .count, .archive .count {
    background-color: #428BCA;
    -moz-border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    border-radius: 1.2rem;
    color: #FFFFFF;
    font-size: small;
    margin-left: 0.5rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}