<% include header.ejs %>

<main height="100%">







</main>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/assets/common.bundle.js"></script>
<script src="/assets/blog.bundle.js"></script>

<% include footer.ejs %>
