<% include header.ejs %>

<main>
    <div id="error-wrapper" class="k-content">
        <div class="container">
            <div class="page-header">
                <h1>
                    <img src="<%= format(config.uris.cdn.svg.office, 'error') %>" alt="<%= title %>">
                    <span><%= title %></span>
                </h1>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-danger" role="alert"><%= description %></div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/assets/common.bundle.js"></script>
<script src="/assets/error.bundle.js"></script>

<% include footer.ejs %>
