<% include header.ejs %>

<main height="100%">



Please choose your language



</main>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/assets/common.bundle.js"></script>
<script src="/assets/page.bundle.js"></script>

<% include footer.ejs %>
