<% include header.ejs %>

<main>
    <div id="home-wrapper">
        <div class="jumbotron"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="<%= format(config.uris.webapp.pages, 'en', '') %>">
                        <div class="uk flag"></div>
                    </a>
                    <h2>English Support</h2>
                    <p>Kidoju's support comprises blog posts, Youtube videos and social network links.</p>
                </div>
                <div class="col-sm-6">
                    <a href="<%= format(config.uris.webapp.pages, 'fr', '') %>">
                        <div class="fr flag"></div>
                    </a>
                    <h2>Support en Français</h2>
                    <p>Le support de Kidoju comprend des articles de blog, des vidéos YouTube et des liens vers les réseaux sociaux.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="<%= urljoin(config.uris.webapp.public, 'assets/common.bundle.js') %>"></script>
<script src="<%= urljoin(config.uris.webapp.public, 'assets/home.bundle.js') %>"></script>

<% include footer.ejs %>
