@import (optional) "./vendor/highlight/agate.css";

// @import "./vendor/kendo/web/kendo.common-nova.less";
@import "./vendor/kendo/web/kendo.nova.mobile.less";
@import "./vendor/kendo/web/kendo.nova.less";

/* missing from nova theme */
@widget-gradient: none;
@primary-gradient: none;
@primary-shadow: none;
@content-background-color: @background;
@active-text-color: @normal-text-color;
@primary-button-text-color: @selected-text-color;
@primary-button-background-color: @accent;
@primary-button-border-color: @accent;
@hover-background-color: @hover-background;
@hover-border-color: @hover-background;
@selected-border-color: @accent;
@focused-shadow: none;
@drop-down-text-color: @normal-text-color;
@drop-down-background: @base;
@drop-down-border-color: @accent;
@shadow-color: rgba(0, 0, 0, .2);
@window-shadow-style: 0 0 0 1px;
@inner-border-radius: @main-border-radius - 1.2;
@calendar-border-radius: @border-radius;
@notification-info-background-color: @info;
@notification-info-text-color: darken(@info, 25%);
@notification-info-border-color: @info;

@import "app.template.less";

// Fix button images
.k-button {
    .k-image {
        opacity: 1;
    }
}

// Fix dialog buttons
.k-dialog {
    .k-dialog-buttongroup {
        .k-button {
            color: #000000;
        }
    }
}

// Fix editor splitter
.k-splitbar {
    border-color: @widget-border-color;
}

// Fix tabstrip (spreadsheet, formatting toolbar and file upload dialog)
.k-tabstrip {
    .k-button {
        .k-icon {
            opacity: 1;
        }
    }
    .k-state-disabled {

    }
}
.k-tabstrip.k-header {
    .composite-background(@tabs-normal-gradient);
    .k-tabstrip-items {
        .k-item, .k-link {
            color: @selected-text-color;
        }
    }
}

// Fix spreadsheet
.k-spreadsheet {
    .k-spreadsheet-quick-access-toolbar {
        .k-button {
            color: @selected-text-color;
            line-height: normal;
        }
    }
}
