@import "./app.mixins.less";

/*********************************************
 * Error page
 ********************************************/
#error-wrapper {
    .wrapper();
}

/*********************************************
 * Printing
 ********************************************/

// See http://getbootstrap.com/css/#responsive-utilities-print
@media print {
    //Reposition content for hiding header, footer and toolbar
    #error-wrapper {
        position: relative;
        top: 0px;
        overflow: visible;
        //Make sure we fit page width
        .container {
            width: auto;
        }
    }
}
