// @import "./vendor/kendo/web/kendo.common-material.less";
@import "./vendor/kendo/web/kendo.material.mobile.less";
@import "./vendor/kendo/web/kendo.material.less";

@import "app.template.less";
@import (optional) "codemirror.custom.less";
@import (optional) "highlightjs.custom.less";
@import (optional) "mathquill.custom.less";

.k-material {

    // Search glyphicon
    .navbar {
        .form-control-feedback {
            color: @normal-text-color;
        }
    }

    // Panel buttons
    .panel {
        .panel-actions {
            a:not(.k-state-hover) {
                color: @header-text-color;
            }
        }
    }

    // The following fixes type-material.less to be used with kendo.common.less
    // instead of kendo.common-material.less
    .k-tabstrip-items .k-state-default .k-link
        // .k-tabstrip-items .k-item .k-link
    {
        color: @tabstrip-tabs-color;
    }

}

// The following fixes type-fiori.less to be used with kendo.common.less
// instead of kendo.common-fiori.less
@media only screen and (max-width: 1024px) {
    .k-material {
        // Fix the grid pager
        .k-pager-wrap {
            min-height: 2.1em;
            .k-pager-numbers {
                .k-current-page {
                    .k-link {
                        padding: .17857143em 0;
                        line-height: 1.65em;
                    }
                }
            }
        }
    }
}

// Fix stage styles
.kj-stage {
    .kj-quiz-image.k-state-selected {
        background-color: @accent;
        color: @base;
    }
}
