/* Kendo skin */

// Mixins

.box-orient(@direction) {
    -moz-box-orient: @direction;
    -webkit-box-orient: @direction;
    -ms-box-orient: @direction;
    box-orient: @direction;
}

.box(@type) {
    display: ~"-moz-@{type}";
    display: ~"-webkit-@{type}";
    display: ~"-ms-@{type}";
    display: @type;
}

.box-direction(@direction) {
    -moz-box-direction: @direction;
    -webkit-box-direction: @direction;
    -ms-box-direction: @direction;
    box-direction: @direction;
}

.box-flex(@amount) {
    -moz-box-flex: @amount;
    -webkit-box-flex: @amount;
    -ms-box-flex: @amount;
    box-flex: @amount;
}

.box-align(@alignment) {
    -moz-box-align: @alignment;
    -webkit-box-align: @alignment;
    -ms-box-align: @alignment;
    box-align: @alignment;
}

.box-pack(@pack) {
    -moz-box-pack: @pack;
    -webkit-box-pack: @pack;
    -ms-box-pack: @pack;
    box-pack: @pack;
}

.guarded-border-radius(@value) when (@value < 0) {
    border-radius: 0;
}

.guarded-border-radius(@value) when (@value >= 0) {
    border-radius: @value;
}

.box-shadow(...) {
    -webkit-box-shadow: @arguments;
    box-shadow: @arguments;
}

.window-shadow(@shadow-color) when not (@shadow-color = transparent) {
    border-color: @shadow-color;
    .box-shadow(@window-shadow-style lighten(@shadow-color, 50%));

    &.k-state-focused {
        border-color: @shadow-color;
        .box-shadow(@window-shadow-style @shadow-color);
    }
}

.window-shadow(@shadow-color) when (@shadow-color = transparent) and (lightness(@widget-background-color) < 50%) {
    border-color: @widget-border-color;

    &.k-state-focused {
        border-color: lighten(@widget-border-color, 20%);
    }
}

.window-shadow(@shadow-color) when (@shadow-color = transparent) and (lightness(@widget-background-color) >= 50%) {
    border-color: @widget-border-color;

    &.k-state-focused {
        border-color: darken(@widget-border-color, 10%);
    }
}

.box-sizing(@type) {
    -moz-box-sizing: @type;
    -webkit-box-sizing: @type;
    box-sizing: @type;
}

.background-clip(@type) {
    -moz-background-clip: @type;
    -webkit-background-clip: @type;
    background-clip: @type;
}

.transform(...) {
    -webkit-transform: @arguments;
    -moz-transform: @arguments;
    -ms-transform: @arguments;
    -o-transform: @arguments;
    transform: @arguments;
}

.composite-background(@gradient) when (@gradient = none) {
    background-image: @texture;
}

.composite-background(@gradient) when not (@gradient = none) {
    background-image: @fallback-texture;
    background-image: @texture, -webkit-linear-gradient(top, ~"@{gradient}");
    background-image: @texture,    -moz-linear-gradient(top, ~"@{gradient}");
    background-image: @texture,      -o-linear-gradient(top, ~"@{gradient}");
    background-image: @texture,       ~"linear-gradient(to bottom, @{gradient})";
}

@sprite-image: url('vendor/kendo/web/@{image-folder}/sprite.png');

.selection(@color) {
    ::selection {
        background-color: @color;
        text-shadow: none;
        color: #fff;
    }

    ::-moz-selection {
        background-color: @color;
        text-shadow: none;
        color: #fff;
    }
}

/************************************************************************************************
 * Anything above is from Kendo UI - Anything below is ours - See README.md
 ***********************************************************************************************/

/*********************************************
 * Custom Mixins
 ********************************************/

.header {
    color: @header-text-color;
    border-color: @widget-border-color;
    background-position: 50% 50%;
    background-color: @header-background-color;
    .composite-background(@widget-gradient);
}

.secondary-text-color(@background-color) when (lightness(@background-color) < 50%) {
    color: lighten(@normal-text-color, 40%);
}

.secondary-text-color(@background-color) when (lightness(@background-color) >= 50%) {
    color: darken(@normal-text-color, 40%);
}

.tertiary-text-color(@background-color) when (lightness(@background-color) < 50%) {
    color: lighten(@normal-text-color, 20%);
}

.tertiary-text-color(@background-color) when (lightness(@background-color) >= 50%) {
    color: darken(@normal-text-color, 20%);
}

/*********************************************
 * Themed Styles
 ********************************************/

//---------------------------------------------
// Generic tags
html, body, body>div.k-loading-image{
    background-color: @content-background-color;
}
a {
    color: @widget-text-color;
}
a:hover {
    color: @hover-text-color;
    text-decoration: none;
}
a:active {
    color: @active-text-color;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    color: @normal-text-color;
}
//---------------------------------------------
// Navbar
.navbar {
    .header();
    g#logo {
        g:first-child {
            path {
                fill: @header-text-color;
                stroke: @header-text-color;
            }
        }
        g:last-child {
            path {
                fill: #ffffff;
                stroke: #ffffff;
            }
        }
    }
    .navbar-toggle {
        color: @primary-button-text-color;
        background-color: @primary-button-background-color;
        background-position: 50% 50%;
        border-color: @primary-button-border-color;
        .box-shadow(@primary-shadow);
        .composite-background(@primary-gradient);
    }
    /*
    .navbar-toggle:hover {
        color: @hover-text-color;
        background-color: @hover-background;
        .composite-background(@hover-gradient);
    .navbar-toggle:active: {
        color: @selected-text-color;
        background-color: @selected-background;
        .composite-background(@selected-gradient);
    }
    */
    form.navbar-form {
        border-color: @widget-border-color;
    }
    ul.navbar-nav {
        li {
            a {
                color: @header-text-color;
            }
            a:hover {
                color: @hover-text-color;
                background-color: @hover-background-color;
                background-position: 50% 50%;
                border-color: @hover-border-color;
                .composite-background(@hover-gradient);
            }
        }
        li.open {
            a:focus {
                //TODO we should not require !important here
                //especially gradient cannot be enforced using mixin
                color: @selected-text-color !important;
                background-color: @selected-background-color !important;
                background-position: 50% 50% !important;
                border-color: @selected-border-color !important;
                .composite-background(@selected-gradient);
            }
            ul.dropdown-menu {
                color: @drop-down-text-color;
                .composite-background(@widget-gradient);
                background-position: 50% 50%;
                background-color: @drop-down-background;
                border-color: @drop-down-border-color;
                .box-shadow(@focused-shadow);
            }
        }
    }
}
@media (max-width: 767px) {
    .navbar-inverse {
        .navbar-nav {
            .open {
                .dropdown-menu {
                    >li {
                        >a {
                            color: @drop-down-text-color;
                        }
                    }
                }
            }

        }
    }
}
//---------------------------------------------
// Toolbar
.k-toolbar, .k-list-container {
    .k-button {
        .k-image {
            height: 1.5em;
            width: 1.5em;
            margin-right: 0.5em;
            vertical-align: middle;
        }
    }
}

//---------------------------------------------
// List group items
.list-group {
    color: @widget-text-color;
    background-color: @widget-background-color;
    border-color: @widget-border-color;
    .composite-background(@widget-gradient);
    .box-shadow(@widget-shadow);
    a.list-group-item {
        color: @widget-text-color;
        background-color: transparent;
        border-color: @widget-border-color;
        span.badge {
            // TODO
        }
    }
    a.list-group-item:hover {
        color: @hover-text-color;
        background-color: @hover-background-color;
        border-color: @hover-border-color;
        .composite-background(@hover-gradient);
    }
}

//---------------------------------------------
// Panels (user and summary details)
.panel { //=== .panel-default
    .window-shadow(@shadow-color);
    border-radius: @main-border-radius @main-border-radius @main-border-radius @main-border-radius;
    border-color: @widget-border-color;
    .panel-heading {
        .header();
        border-radius: @inner-border-radius @inner-border-radius 0 0;
        .panel-actions {
            a[role="button"] {
                border-radius: @calendar-border-radius;
            }
            a[role="button"]:hover {
                border-color: @hover-border-color;
                .composite-background(@hover-gradient);
                background-color: @hover-background-color;
                // border-size
            }
        }
    }
    .panel-body {
        border-radius: 0 0 @inner-border-radius @inner-border-radius;
        .k-pager-wrap {
            border-radius: 0 0 @inner-border-radius @inner-border-radius;
        }
    }
}

//---------------------------------------------
// Media lists (lists of summaries and activities)
.k-listview.media-list {
    .media {
        div.media-left {

        }
        div.media-body {
            h4.media-heading {
                a {
                    color: @normal-text-color;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
            .tags, .activity {
                .secondary-text-color(@widget-background-color);
                a {
                    .secondary-text-color(@widget-background-color);
                }
                a:hover {
                    text-decoration: underline;
                }
            }
            .author, .metrics {
                .tertiary-text-color(@widget-background-color);
                a {
                    .tertiary-text-color(@widget-background-color);
                }
                a:hover {
                    text-decoration: underline;
                }
            }
            .k-notification {}
        }
    }
}

//---------------------------------------------
// Forms
form {
    label {
        .tertiary-text-color(@widget-background-color);
    }
}

//---------------------------------------------
// Drop down trees
.k-popup {
    .k-treeview {
        color: @widget-text-color;
    }
}
//---------------------------------------------
// Dialog
.k-dialog {
    .k-dialog-buttongroup.k-dialog-button-layout-normal {
        // border-top: solid 1px @active-border-color;
        // background-color: @active-background-color;
        // border-top: solid 1px @primary-active-border-color;
        // background-color: @primary-active-background-color;
        border-top: solid 1px @widget-border-color;
        background-color: @widget-background-color;
        // border-top: solid 1px @selected-border-color;
        // background-color: @selected-background-color;
    }
    .k-dialog-buttongroup {
        .k-button {
            .k-image {
                height: 1.5em;
                width: 1.5em;
                margin-right: 0.25em;
                vertical-align: middle;
            }
        }
    }
}
//---------------------------------------------
// Tooltips
.k-tooltip.k-popup.k-group {
    background-color: @notification-info-background-color;
    color: @notification-info-text-color;
    border-color: @notification-info-border-color;
    .k-callout-n {
        border-bottom-color: @notification-info-border-color;
    }
    .k-callout-s {
        border-top-color: @notification-info-border-color;
    }
}

//---------------------------------------------
// inobounce
.k-list-scroller {
    -webkit-overflow-scrolling: touch;
}

//---------------------------------------------
// Stage
.kj-stage {
    .k-button.k-state-disabled.k-state-active {
        color: @primary-button-text-color;
        background-color: @primary-button-background-color;
        background-position: 50% 50%;
        border-color: @primary-button-border-color;
        .box-shadow(@primary-shadow);
        .composite-background(@primary-gradient);
    }
}
.chevron {
    color: @primary-button-text-color;
    background-color: @primary-button-background-color;
    border-color: @primary-button-border-color;
    display: none;
}

//---------------------------------------------
// Footer
footer {
    border-top: solid 1px @widget-border-color;
    .header();
}

//---------------------------------------------
// Bootstrap
.thumbnail .caption {
    color: @widget-text-color !important;
}
